{%  extends "main/base.html" %}

{%  block page %}
<h1>La psychologie biodynamique</h1>

<h2>Son origine</h2>
Cette méthode a été élaborée à partir des année 1950, au fil d'un long travail
clinique, par <strong>Gerda Boyesen</strong> (1922-2005), une psychologue et physiothérapeute
Norvégienne.<br />
Elle résulte de la rencontre de plusieurs courants de pensée issus d'une part des
travaux de S. Freud, W. Reich, C.G. Jung, et d'autre part de ceux de Trygve
Braatoy,   Aadel   Bülow­Hansen   et   John   Olesen,   qui   intègrent   l'approche
psychanalytique et le travail corporel.<br />
La psychologie biodynamique utilise la possibilité d'accéder par le corps à des
informations et à des processus psychiques.	<br />
Gerda Boyesen y a apporté ses propres découvertes sur le psychopéristaltisme,
c'est à dire la capacité des intestins à digérer les émotions.<br /><br />
La psychologie biodynamique arrive en France en 1973. Elle appartient  à la
grande famille des thérapies psychocorporelles, qui allient dans leurs pratiques,
le soma (le corps sensible), et la psyché (les états d'âme).
<h2>Les fondements de la psychologie biodynamique</h2>
<h3>Ses qualités</h3>
Fondamentalement,   la   psychologie   biodynamique   cherche   à   retrouver   et   à
développer   le  potentiel  de vie  chez  chaque  personne.  Biodynamique signifie :
<i>dynamisme de la vie</i>.  Elle considère que nous avons tous un noyau sain, dans
lequel circule naturellement l'énergie de vie harmonieuse, ouverte et joyeuse.<br />
Le thérapeute biodynamique cherche à rétablir ce flot naturel dans le corps et
l'esprit, que les drames petits et grands de l'existence ont pu entraver.
<h3>Ses caractéristiques</h3>
La stratégie globale est de soutenir l'organisme dans sa capacité naturelle de
digestion, de guérison et d'évolution.<br />
Le   cœur   du   processus   thérapeutique,   en   psychologie   biodynamique,   est   de connecter, par­delà le conditionnement, cette source vivante, souple, qui nous
habite tous, que l'on peut appeler l'âme, ou la Vie...<br /> <br />
La   parole   et   l'expression   émotionnelle   sont   très   importantes   en   psychologie
biodynamique. Cependant, cette approche a développé un dialogue subtil avec
<i>les manifestations physiologiques involontaires</i>.<br /><br />
Elle   prend   en   compte   les   signaux   corporels,   même   minimes,   tels   que   les
changements du rythme respiratoire, la coloration du visage, les soupirs, les
gargouillis du ventre, les contractions involontaires... autant de messages issus
de   la   réalité   profonde   du   patient.   Ces   manifestations   émergent   par­delà   le
monde rationnel et raisonné.<br />
Elles   peuvent   être   aussi   bien   porteuses   de   souffrances   oubliées,   que
d'aspirations de l'âme ou de la poussée pour une conscience nouvelle. <i> Dans tous
les cas, elles sont un appel du mouvement profond de la vie  à se libérer et à
s'épanouir</i>.
<h3>L'importance du corps</h3>
Le   système   neurovégétatif,   qui   gère   les   fonctions   vitales,   a   une   adaptation
spontanée souvent plus rapide que nos réactions émotionnelles ou mentales. Ce
sont des réponses instinctives de notre organisme.<br />
Modifier ces réactions automatiques peut donc transformer le vécu de manière
fondamentale.<br />
Lorsque ces manifestations sont envahissantes et chroniques (la gorge qui se
serre dès que l'on veut s'exprimer, une boule d'angoisse au plexus sans raison...)
ou,   à   l'inverse,   elles   sont   atrophiées,   (sidération   du   corps,   anesthésie   des
sensations,   le   cœur   sans   élan,   le   corps   sans   désir...),   ces   conditionnements
empoisonnent la vie de chaque instant. Mais ces sensations peuvent aussi être
porteuses d’expériences nouvelles, initiatiques.
<h3>La méthode</h3>
Pour accueillir la part la plus profonde  qui nous habite depuis toujours et que
souvent on a oubliée, étouffée par tant de craintes, de préceptes, de croyances...,
il   existe   une   qualité   d'être   qui,   lorsqu'on   arrive   à   l'atteindre,   déclenche   de
profonds courants de guérison.<br />
Il s'agit, au­delà de toute technique, d'apprendre l'art du non­faire et du non
savoir, pour laisser ce dérouler un mouvement spontané sans l'entraver quand il
se présente.<br />
Le thérapeute est là pour aider la personne à « accoucher » de son être   profond. Il   ne   crée   pas   l'être,   ne   décide   pas   quand   et   comment   il   doit   émerger.   Il
l'accompagne.<br />
Le   corps   du   patient,   percevant   cette   attitude   sans   jugement,   peut     relâcher
l'état d'alerte et de stress, et se sent en confiance pour partager ses difficultés,
explorer ses ombres ou laisser monter des sensations inhabituelles. Pouvoir être
accueilli en toute sécurité est un cadeau inestimable qui ouvre les portes du
possible et du changement.
<h3>En bref</h3>
Ce qui caractérise la psychologie biodynamique est avant tout une attitude de
respect   des   rythmes   de   l'organisme.   Il   s'agit   d'une   écoute   sans   jugement,
d'encouragement   des   stimulus   internes   et   de   relance   de   l'autorégulation
végétative.   Pour   cela,   on   s'appuie   sur   l'enracinement   corporel,   l'écoute   des
sensations intimes, le respect de sa capacité d'intégration et d'autorégulation.
<h2>Les principaux outils</h2>
De nombreux outils sont à la dispositions du thérapeute pour aider le processus
d'évolution sur tous les niveaux de l'être : physique, énergétique, émotionnel,
mental et spirituel. Ceux­ci sont principalement, les massages biodynamiques,
la   végétothérapie   biodynamique,   les   rêves   éveillés   dirigés,   le   travail   sur   la
respiration, la parole, la visualisation, la Gestalt, le drainage profond...
<h3>Les massages biodynamiques</h3>
Les   massages   biodynamiques   offrent   la   possibilité   d'accéder   directement   à
l'inconscient   dans   le   corps.   Celui­ci   possède   dans   son   mystère   à   la   fois   le
potentiel de développement et les mémoires refoulées de la personne. Toucher
ces potentiels à travers le corps permet de découvrir des expériences oubliées ou
novatrices   qui   vont   modifier   notre   rapport   au   monde.   Les   massages
biodynamiques libèrent ainsi l'énergie vivante qui élargit la conscience.<br />
Les   massages   biodynamiques   regroupent   une   vingtaines   de   massages
différents, pratiqués selon le besoin thérapeutique de la personne. Ils   peuvent
relâcher, stimuler, recentrer, nettoyer, fortifier, donner des limites, libérer ou
modifier la posture... Surtout ils amènent la personne dans une expérience très
concrète d'elle­même.<br />
Ils peuvent être pratiqués accompagnés d'un stéthoscope placé sur le ventre de la   personne   pour   écouter   les   réponses   du   système   digestif   (le
psychopéristaltisme),   qui   donne   un   écho   sur   la   nature   des   processus
somatopsychiques en cours.
<h3>La végétothérapie biodynamique</h3>
	La végétothérapie biodynamique est une méthode qui laisse parler le corps. Elle
se  place   à   l'écoute  des   sensations   et   impulsions   corporelles  involontaires   qui
sont accueillies sans jugement. En accentuant le ressenti ou les mouvements
qui se présentent, et en laissant venir les émotions et les images consécutives à
cette amplification. Il est possible de retrouver des mémoires archaïques de la
toute petite enfance, voir du fœtus, inaccessible par investigation mentale.<br />
La   plupart   du   temps,   ces   expériences   sont   inattendues.   Elles   sont   souvent
vécues comme une libération et des retrouvailles avec une vérité profonde.
<h3>Les rêves éveillées dirigés</h3>
Les rêves éveillés dirigés sont une forme de relaxation guidée dans laquelle le
patient, allongé les yeux fermés, suit les images qui vont s'élaborer visuellement
en lui au fur et à mesure des propositions qui lui sont faites par le thérapeute.
Au  vu des situations, selon  le thème travaillé, vont alors se révéler les aspects
du paysage inconscient.<br />
Les   rêves   éveillées   dirigées   sont   souvent   utilisés   pour   travailler   le
« reparentage », afin de retrouver ou de créer le bon parent pour réparer les
manques, les souffrances, les peurs de l'enfant blessé.<br />
Ces rêves, ou voyages imaginaires, permettent dans un premier temps, d'établir
un diagnostique de la relation au parent, puis de proposer les réparations.
<h3>Le travail sur la respiration</h3>
La respiration, sans qui la vie ne serait pas possible, est un pont entre notre
corps et notre esprit. Voie royale qui ouvre les portes de notre monde intérieur.
Elle permet un lâché prise pour entrer en contact avec notre ressenti corporel et
émotionnel.<br />
De  nombreux  outils   interviennent   donc   sur  la   respiration,  que  ce  soient   des
massages spécifiques ou d'autres actions ou mouvements, dans une optique de
libération spontanée de la respiration, plutôt que de contrôle. Nous amenons
une respiration physiologique d'échange et de régulation.<br />
L'attention   à   la   respiration   est   constante,   c'est   à   la   fois   un   moyen   de
diagnostique, témoin fidèle des processus en cours, et le résultat tangible du
travail accompli.
	<h3>La parole</h3>
Elle   est   essentielle   au   processus   thérapeutique.   Elle   permet   de   fixer   et
d'intégrer les expériences.<ul>
	<li> <i>La parole informelle</i> :  La parole sociale et informelle servira  à la prise de
contact, à la gestion des informations pratiques et à l'étude de la situation. C'est
une parole de partage, de clarification et d'exploration.</li>
	<li> <i>Le vidage verbal</i> : Le vidage verbal est utilisé quand on a besoin de « vider son
sa ». Cela permet une décharge émotionnelle et énergétique. Il s'agit plus de
décongestionner le cerveau que de réfléchir.</li>
<li> <i>La parole enracinée</i> :  Il s'agit à la fois d'exprimer le ressenti et de sentir en
retour l'effet des mots prononcés. Cette parole enracinée est connectée à ce qui
se passe dans « ici et maintenant ».</li>
<li> <i> La parole thérapeutique </i> : La parole thérapeutique est une parole enracinée.
Quand d'une part le patient arrive à dire ce qui n'a pas pu être dit et qu'il libère
des informations bloquées, ou d'autre part, quand le thérapeute prononce les
bons  mots,  avec le  bon ton de voix  et le bon rythme dans  la formulation de
phrases, qui seront réparateurs pour le patient.</li>
	</ul>
<h3>La visualisation</h3>
L'être humain a une aptitude à nourrir son esprit d'images. Chaque individu
possède les capacités de se construire un univers d'intérieur, source d'images
qui peuvent lui être bénéfiques, avoir un impact sur son état d'être et stimuler
son énergie.<br />
La visualisation permet d'amener une conscience plus large et plus personnelle
que les mots et les concepts. Fermer les yeux et voir la situation   modifie la
perception.
<h3>La Gestal</h3>
La Gestalt met en scène une difficulté en l'extériorisant par des dialogues entre
soi et soi. Ce travail énergétique, verbal et physique pousse à se dés­identifier
de   nos   personnages   et   à   regarder   les   différentes   parties   en   conflit   d'une
manière   différente.   Avec   toujours   en   biodynamie,   un   temps   d'intégration
physiologique   de   nos   ressentis   émotionnels,   après   la   mise   en   scène.   Ce   qui permet   une   clarification   du   conflit   et   facilite   la   création   d'une   harmonie
interne.
<h3> Le drainage profond</h3>
Le   Drainage   Profond   Biodynamique   ou   « Deep   Draining   est   comme   une
psychanalyse   par   le   corps ».   Grâce   à   son   toucher   subtil   et   profond   de   la
membrane,   le   Drainage   Profond   développe   une   conscience   organique   fine   du
système   de   défense   et   de   résistance ;   il   nettoie   de   ses   mémoires   oubliées   et
libère la psyché de ses croyances limitantes.<br />
Alliant   profondeur   et   accueil,   mobilisation   et   douceur,   cette   méthode
psychocorporelle ouvre un processus profond de guérison de l'âme et du corps.
Elle stimule la libido, réveille la spontanéité de l'enfant comme la responsabilité
de l'adulte et révèle les qualités de notre noyau sain.
{% endblock %}